body {
    overflow-x: hidden;
}
.game{
    width: 80px;
    height: 45px;
    top: 36px;
    left: 41px;
    gap: 0px;
    opacity: 0px;

}
#Register{
    width: Hug (127px)px;
    height: Hug (48px)px;
    top: 36px;
    left: 1107px;
    padding: 10px 19px 10px 19px;
    gap: 10px;
    opacity: 0px;
    background: #792CD4;
    color: white;
}
#nav{
    font-size: 18px;
    font-weight:600
}
#nav  {
    list-style: none;
    display: flex;
    gap: 50px;
    position: relative;
    
}
#nav  {
   margin: 0;
}
#nav  a {
    text-decoration: none;
    color: white;
    
}
.navbar{
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
font-family: "Orbitron", sans-serif;
}
body {
    background: rgb(3,0,20);
background: linear-gradient(90deg, rgba(3,0,20,1) 2%, rgba(170,70,252,1) 100%);
}
.Gunshot {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.Gun , .Shot {
    width: Fixed (801px)px;
    height: Hug (172px)px;
    top: 92px;
    left: 286px;
    gap: 150px;
    opacity: 0px;
    font-family: "Orbitron", sans-serif;
    font-size: 141px;
    font-weight: 400;
    line-height: 171.6px;
    text-align: left;
    font-style: italic;
}
.hi {
    color: white;
    font-family: "Amita", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.52px;
    text-align: left;
}
.metaverse {
    position: relative;
    bottom: 300px;
    left: 100px;
}
#Access {
    font-family: "Amita", sans-serif;
    width: Hug (157px)px;
    height: Hug (48px)px;
    top: 648px;
    left: 55px;
    padding: 10px 19px 10px 19px;
    gap: 10px;
    opacity: 0px;
    background: #792CD4;
    color: white;
}
#V{
    font-family: "Amita" , sans-serif;
    width: Hug (146px)px;
    height: Hug (50px)px;
    top: 647px;
    left: 242px;
    padding: 11px 19px 11px 19px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: #792CD4;
    border: 1px solid #792CD4;   
}
.Completed{
    padding: 20px;
    position: relative;
    width: 386px;
height: 125px;
bottom:  500px;
left: 1008px;
gap: 0px;
opacity: 0px;
background: rgb(3,0,20);
background: linear-gradient(90deg, rgba(3,0,20,1) 24%, rgba(170,70,252,1) 67%);
border: 1px soid black;
border-radius: 5px;
}
.GUN{
    color: white;
    font-size: 50px;
    font-family: "Orbitron", sans-serif;
    text-align: right;
    line-height: 0%;
}
.C {
    color: white;
    font-size: 25px;
    font-family: "Orbitron", sans-serif;
    text-align: right;
}
.play {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 122.5px;
    text-align: left;

}
.extreme {
    color: white;
    font-family: "Amita", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.52px;
    text-align: left;
    color: #FFFFFFB2;

}
.based {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 56.14px;
    text-align: left;
    color: #FFFFFFF2;

}
#playgunshot1 {
    position: relative;
    left: 670px;
    width: 295px;
    height: 499px;
    bottom: 500px;
    gap: 0px;
    opacity: 0px;
}
#playgunshot2 {
    bottom: 500px;
    left: 698px;
    width: 295px;
    height: 499px;
    gap: 0px;
    opacity: 0px;
    position: relative;
}
.shot {
    position: relative;
    padding: 20px;
    bottom: 400px;
    padding-left: 100px;
}
.khela {
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 700;
    line-height: 122.5px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}
.GAMES {
    position:relative;
    bottom: 850px;
    padding-left: 50px;
}
#o4 {
    position: relative;
    bottom: 320px;
    left: 250px;
}
#o3 {
    position: relative;
    right: 40px;
}
#o2 {
    position: relative;
    left: 200px;
}
.contact {
    font-size: 96px;
    font-weight: 700;
    line-height: 122.5px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: #FFFFFF;
}
.details {
    position: relative;
    bottom: 750px;
    padding: 0px 400px 0px 400px;
}
.rise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#name {
    background: #030014;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: "Amita", serif;
font-size: 25px;
font-weight: 400;
line-height: 31.9px;
text-align: left;
border-radius: 3px;
}
#submit {
    width: Fixed (668px)px;
height: Hug (48px)px;
top: 3057px;
padding: 10px 19px 10px 20px;
gap: 10px;
opacity: 0px;
background: #792CD4;
color: white;
font-family: "Orbitron", sans-serif;
position: relative;
top: 100px;
border-radius: 3px;
}
#email {
    position: relative;
    top: 20px;
    color: white;
    background: #030014;
    font-size: 25px;
font-weight: 400;
line-height: 31.9px;
text-align: left;
border-radius: 3px;
border: 1px solid #FFFFFF;
    font-family: "Amita", serif;
}
#comment {
    position:relative;
    top: 50px;
    border: 1px solid #FFFFFF;
    color: white;
    background: #030014;
    font-family: "Amita", serif;
    border-radius: 5px;
    font-size: 20px;
}
.right {
    color: #FFFFFF;
    font-size: large;
    font-family: "Amita", serif;
    text-align: center;
}
.copy {
    padding: 20px;
    width: 100%;
    background: #792CD4;

}


